<!-- <ion-header>

    <ion-navbar>
    <ion-title>login</ion-title>
    </ion-navbar>
    
  </ion-header>

  <ion-content padding>
    <div class="a">
        <ion-label color="primary" stacked><h3 >Buy garbage at home</h3></ion-label>
    </div>
    <ion-item>
      
    <ion-label color="primary" stacked>Username</ion-label>
    <ion-input [(ngModel)]="username" type="email" placeholder="ป้อน username" icon-start name="logo-googleplus"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Password</ion-label>
      <ion-input [(ngModel)]="password"  type="password" placeholder="Password"></ion-input>
       
    </ion-item>
    <button  ion-button color="orange1" block (click)="signInUser()" > LOGIN </button>
      <div class="a">
          <button ion-button clear item-start (click)="gotoregister()">สมัครสมาชิก</button>
      </div>
      <button  ion-button color="primary" block (click)="nofeace_google()" icon-start><ion-icon name="logo-facebook"></ion-icon> Sign in with Fackbook</button>
      <button  ion-button color="danger" block (click)="nofeace_google()" icon-start><ion-icon name="logo-googleplus"></ion-icon> Sign in with Google</button>
      
    </ion-content>

    <ion-header>

    
      <ion-grid style="background: white">
          <ion-row>
            <ion-col style="text-align: center; color:#00868b; border-bottom: 2px solid #00868b" >
               <h6>เข้าสู่ระบบ</h6> 
            </ion-col>
            <ion-col style="text-align: center"  (click)="gotoregister()">
               <h6>สมัครสมาชิก</h6> 
            </ion-col>
          </ion-row>
      </ion-grid>
      
      
    </ion-header> -->
    <ion-header>
   

 
      
      
    </ion-header>
    
    
    <ion-content padding class="bg-style">

      <div style="text-align: center;">
          <img src='../../assets/imgs/Untitled-1.png'>
      </div>
      
          <ion-item style="background: rgb(255, 255, 255)">
        
              <ion-label style="color:rgb(103, 113, 255)">รหัสบัตรประชาชน&nbsp;:</ion-label>
              <ion-input [(ngModel)]="username"  type="email" maxlength="13" placeholder="กรุณาป้อนข้อมูล" icon-start name="logo-googleplus"></ion-input>
              </ion-item>
            
              <ion-item style="background: rgb(255, 255, 255)">
                <ion-label style="color:rgb(103, 113, 255)">รหัสผ่าน&nbsp;&nbsp;&nbsp;&nbsp;:</ion-label>
                <ion-input [(ngModel)]="password"  type="password" placeholder="กรุณาป้อนข้อมูล"></ion-input>
                 
              </ion-item>
              <br>
              <button  ion-button  block (click)="signInUser()" [ngStyle]="{'background-color': buttonColor}" class="btn">เข้าสู่ระบบ</button>
              <!-- <p (click)="signInUser()" style="text-align: center; color:#008000"> เข้าสู่ระบบ </p> -->
              
              <button ion-button block color="danger"(click)="gotoregister()">สมัครสมาชิก</button>
              <!-- <div class="your-class">
                  <button  ion-button color="primary" block (click)="nofeace_google()" icon-start><ion-icon name="logo-facebook"></ion-icon> Sign in with Fackbook</button>
                  <button  ion-button color="danger" block (click)="nofeace_google()" icon-start><ion-icon name="logo-googleplus"></ion-icon> Sign in with Google</button>    
              </div> -->

              <!-- ให้มันอยู่ข้างล่างด้วย -->


                
      </ion-content>
      

      
      <ion-footer>
        <ion-grid style="background: rgb(209, 181, 54)">
          <ion-row>
            <ion-col style="text-align: center; color:#ffffff" >
              <h6>การบริหารการใช้พลังงานไฟฟ้า</h6> 
           </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
      