<!--
  Generated template for the EquipPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon style="color:rgb(88, 88, 88)" name="menu"></ion-icon>
    </button>
    <ion-title>พลังงานไฟฟ้า</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg-style">

  <ion-row (click)="gotoaddequipment()">
    <!-- <button ion-button block color="secondary"(click)="gotoaddequipment()"></button> -->
    <ion-col style="height:80%;
     width:50%;">
      <ion-card style="background: #ecd469;width:100% !important;
             margin-left:0 !important;
             margin-right:0 !important;
             ">
        <br>


        <ion-card-header style="text-align: left">
          <h2><U></U></h2>
          <p> ชื่ออุปกรณ์ :{{username}}</p>

        </ion-card-header>
      </ion-card>

    </ion-col>
  </ion-row>


  <span text-color="my-custom-color">
    &nbsp;&nbsp;
    <B>อุณหภูมิ</B>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span text-color="my-custom-color">
      <B>ปิด-เปิดอุปกรณ์</B>
    </span>

  </span>

  <br>

  <span>
    &nbsp;
    <button ion-button (click)="onGoTo()">Open</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button ion-button (click)="setConfig(0)">ปิด</button> <button ion-button (click)="setConfig(1)">เปิด</button>
  </span>


  <br><br>

  <span text-color="my-custom-color">
    <em>กำหนดจำนวนเงินตามที่เราต้องการใช้งานเพื่อสั่งหยุดการทำงานของอุปกณ์</em>
  </span>

  <br><br>
  <ion-item style="background: rgb(253, 255, 135)">
    <ion-label style="color:rgb(51, 51, 51)">ค่าไฟ :&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
    <!-- <ion-input type="text" #username_sell></ion-input> -->
    <ion-input [(ngModel)]="wikis.amount" type="number" maxlength="13" placeholder="150" disabled></ion-input>
  </ion-item>
  <ion-item style="background: rgb(253, 255, 135)">
    <ion-label style="color:rgb(51, 51, 51)">อุณหภูมิ :&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
    <!-- <ion-input type="text" #username_sell></ion-input> -->
    <ion-input [(ngModel)]="wikis.temperature" type="number" maxlength="13" placeholder="150" disabled></ion-input>
  </ion-item>

  <ion-item style="background: rgb(253, 255, 135)">
    <ion-label style="color:rgb(51, 51, 51)">จำนวนเงินที่ตั้งไว้ :&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
    <!-- <ion-input type="text" #username_sell></ion-input> -->
    <ion-input [(ngModel)]="wikis.maxmoney" type="number" maxlength="13" placeholder="150" disabled></ion-input>
  </ion-item>
  <ion-item style="background: rgb(253, 255, 135)">
    <ion-label style="color:rgb(51, 51, 51)">สถานะอุปกรณ์ :&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
    <!-- <ion-input type="text" #username_sell></ion-input> -->
    <ion-input  value="เปิด" *ngIf="wikis.relay==1"  disabled></ion-input>
    <ion-input  value="ปิด" *ngIf="wikis.relay==0"  disabled></ion-input>
  </ion-item>

  <ion-item style="background: rgb(253, 255, 135)">
    <ion-label style="color:rgb(51, 51, 51)">ตั้งค่าจำนวนเงิน :&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
    <!-- <ion-input type="text" #username_sell></ion-input> -->
    <ion-input [(ngModel)]="maxmoney" type="number" maxlength="13" placeholder="150"></ion-input>
  </ion-item>


  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button [ngStyle]="{'background-color': buttonColor}" style="color:#ffffff" class="btn"
    ion-button (click)="edit()" item-left>&nbsp;ยืนยัน&nbsp;</button>
  &nbsp;&nbsp;&nbsp;&nbsp; <button [ngStyle]="{'background-color': buttonColor}" style="color:#ffffff" class="btn"
    ion-button (click)="clear()" item-left>&nbsp;ยกเลิก&nbsp;</button>









</ion-content>
