page-equip {
        .bg-style {
            background: rgb(254, 255, 176);
        
            
        }
    
              //แท็บบาบน
              .toolbar-background {
                background-color: rgb(209, 181, 54);
            }
            
    //ตัวหยังสือ title
    [text-color="my-custom-color"] {
        color: rgb(0, 0, 0);
    }
    
}
