

<ion-header>

  <ion-navbar>
  
  <ion-title>
  
    
      <span text-color="my-custom-color">
          Register
      </span>
    
  
  
  
  </ion-title>
</ion-navbar>

  
</ion-header>


<ion-content class="bg-style">


  <ion-label style="color: rgb(51, 51, 51)">
    <h1>
        สมัครการใช้งาน
    </h1> 
  </ion-label > 

  <!-- <ion-avatar item-start>
    <img  [src]="arr_edit_use.photoURL" >
</ion-avatar>

  <div padding class="center" >
  <button ion-button (click)="UploadPhotos()" style="background-color:#FFA07A" item-left><ion-icon name="ios-cash-outline" ></ion-icon>&nbsp; อัพโหลดรูปโปรไฟล์</button>
</div> -->



 

      
    <ion-item style="background: rgb(253, 255, 135)">
      <ion-label style="color:rgb(51, 51, 51)"  >รหัสบัตรประชาชน :&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
      <!-- <ion-input type="text" #username_sell></ion-input> -->
      <ion-input [(ngModel)]="username"  type="username" maxlength="13" placeholder="เลขประจำตัวประชาชน"></ion-input>
    </ion-item>

    <ion-item style="background: rgb(253, 255, 135)">
      <ion-label style="color:rgb(51, 51, 51)"  >รหัสผ่าน  : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
      <!-- <ion-input type="password" #password_sell></ion-input> -->
      <ion-input [(ngModel)]="password"  type="password" placeholder="ใส่ 6 ตัวขึ้นไป"></ion-input>
    </ion-item>

    <ion-item style="background: rgb(253, 255, 135)">
        <ion-label style="color:rgb(51, 51, 51)"  >ยืนยันรหัสผ่าน :  </ion-label>
        <!-- <ion-input type="password" #password_sell></ion-input> -->
         <ion-input [(ngModel)]="password_2"  type="password" placeholder="ใส่ 6 ตัวขึ้นไป"></ion-input>
      </ion-item>
    
      <ion-item style="background: rgb(253, 255, 135)">
      <ion-label style="color:rgb(51, 51, 51)"  >ชื่อ :   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        </ion-label>
        <ion-input [(ngModel)]="name"  type="text" placeholder="ชื่อ"></ion-input>
  </ion-item>

  <ion-item style="background: rgb(253, 255, 135)">
      <ion-label style="color:rgb(51, 51, 51)"  >นามสกุล : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
      <ion-input [(ngModel)]="lastname"  type="text" placeholder="นามสกุล"></ion-input>
  </ion-item>

  
  <ion-item style="background: rgb(253, 255, 135)">
    <ion-label style="color:rgb(51, 51, 51)"  >เพศ : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </ion-label>
    <ion-select multiple="false" interface="popover"  (ionChange)="select_sex($event)" [(ngModel)]="sex">
      <ion-option  class="sex" selected="true"><ion-label  >เลือก</ion-label></ion-option>
      <ion-option  class="sex" selected="false"><ion-label >ชาย</ion-label></ion-option>
      <ion-option  class="sex" selected="false"><ion-label >หญิง</ion-label></ion-option>
    </ion-select>
</ion-item>



  <ion-item style="background: rgb(253, 255, 135)">
      <ion-label style="color:rgb(51, 51, 51)"  >เบอร์โทรศัพท์ :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
      <ion-input [(ngModel)]="tel"  type="tel" maxlength="10" placeholder="เบอร์โทรศัพท์"></ion-input>
  </ion-item>




<div padding class="center" >
  <button [ngStyle]="{'background-color' : buttonColor}" style="color:#ffffff" class="btn" ion-button (click)="registerUser()"  item-left>&nbsp;สมัครสมาชิก&nbsp;</button>
  <button [ngStyle]="{'background-color': buttonColor}" style="color:#ffffff" class="btn" ion-button (click)="clear()"  item-left>&nbsp;ล้างข้อมูล&nbsp;</button>
</div>

</ion-content>


<ion-footer>
  <ion-grid style="background: rgb(209, 181, 54)">
    <ion-row>
      <ion-col style="text-align: center; color:#ffffff" >
        <h6>การบริหารการใช้พลังงานไฟฟ้า</h6> 
     </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
