<!--
  Generated template for the ConnectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>เชื่อมต่ออุปกรณ์เพิ่มเติม</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">














</ion-content>
