<!--
  Generated template for the UseequipPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon style="color:rgb(88, 88, 88)" name="menu"></ion-icon>
    </button>
    <ion-title>การใช้งาน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">


  <ion-item style="background: rgb(253, 255, 135)">
    <ion-label style="color:rgb(51, 51, 51)"  >แรงดันไฟฟ้า : {{wikis.voltage_usage | number}}&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
    <!-- <ion-input type="text" #username_sell></ion-input> -->
  </ion-item>

  <ion-item style="background: rgb(253, 255, 135)">
      <ion-label style="color:rgb(51, 51, 51)"  >กระแสไฟฟ้า : {{wikis.current_usage | number}}&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
      <!-- <ion-input type="text" #username_sell></ion-input> -->
   
    </ion-item>

    <ion-item style="background: rgb(253, 255, 135)">
        <ion-label style="color:rgb(51, 51, 51)"  >พลังงานไฟฟ้า : {{wikis.active_power | number}}&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
        <!-- <ion-input type="text" #username_sell></ion-input> -->
     
      </ion-item>

      <ion-item style="background: rgb(253, 255, 135)">
          <ion-label style="color:rgb(51, 51, 51)"  >ความถี่ Hz :{{wikis.frequency | number}}&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
          <!-- <ion-input type="text" #username_sell></ion-input> -->
    
        </ion-item>


        <ion-item style="background: rgb(253, 255, 135)">
          <ion-label style="color:rgb(51, 51, 51)"  >POWER_FACTOR :{{wikis.power_factor | number}}&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
          <!-- <ion-input type="text" #username_sell></ion-input> -->
         
        </ion-item>

        <ion-item style="background: rgb(253, 255, 135)">
          <ion-label style="color:rgb(51, 51, 51)"  >ACTIVE_ENERGY :{{wikis.active_energy | number}}&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
          <!-- <ion-input type="text" #username_sell></ion-input> -->
      
        </ion-item>
        


        <ion-item style="background: rgb(253, 255, 135)">
          <ion-label style="color:rgb(51, 51, 51)"  >OVER_POWER_ALARM :{{wikis.over_power_alarm | number}}&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
          <!-- <ion-input type="text" #username_sell></ion-input> -->
         
        </ion-item>


        <ion-item style="background: rgb(253, 255, 135)">
          <ion-label style="color:rgb(51, 51, 51)"  >พลังงานที่ใช้ไป : {{wikis.watt}} หน่วย &nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
          <!-- <ion-input type="text" #username_sell></ion-input> -->
          
        </ion-item>

        <ion-item style="background: rgb(253, 255, 135)">
            <ion-label style="color:rgb(51, 51, 51)"  >จำนวนเงิน : {{wikis.money}} บาท &nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
            <!-- <ion-input type="text" #username_sell></ion-input> -->
         
          </ion-item>



          <span>
               
            <button ion-button (click)="GoTo()">แก้ไขชื่ออุปกรณ์</button> 

           </span>



</ion-content>
