page-useequip {


    .bg-style {
        background: rgb(254, 255, 176);
    
        
    }

          //แท็บบาบน
          .toolbar-background {
            background-color: rgb(209, 181, 54);
        }
        




}
