<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon style="color:rgb(88, 88, 88)"name="menu"></ion-icon>
    </button>
    
    <ion-title >หน้าหลัก</ion-title>


  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">


    <ion-label style="color: rgb(51, 51, 51)">
        <h1>
            การใช้งานไฟฟ้า
        </h1> 
      </ion-label > 
      
        <ion-item style="background: rgb(253, 255, 135)">
          <ion-label style="color:rgb(51, 51, 51)"  >พลังงานที่ใช้ไป : {{wikis.watt | number}} /หน่วย  </ion-label>
          <!-- <ion-input type="text" #username_sell></ion-input> -->
    
        </ion-item>

        <ion-item style="background: rgb(253, 255, 135)">
            <ion-label style="color:rgb(51, 51, 51)"  >จำนวนเงิน : {{wikis.money | number}} บาท&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
            <!-- <ion-input type="text" #username_sell></ion-input> -->
    
          </ion-item>
 
<br>
          <span text-color="my-custom-color">
               <B>เชื่อมต่ออุปกรณ์</B>
          </span>
          
          <br>

          <button ion-button (click)="onGoToUsers()">Connect</button>






</ion-content>
