page-home {

    #notification-button {            
        position: relative;
        width: 42px;
        top:1px;
        right: 1px;
        overflow: visible!important;
      }
      
      
      #notifications-badge {
        background-color: red;
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
      }
      .bg-style {
        background: rgb(254, 255, 176);
        }
      //แท็บบาบน
      .toolbar-background {
        background-color: rgb(209, 181, 54);

    }
    // ion-header ion-icon.back-button-icon {
    //     color: map-get($colors, dark);
    // }
    // $colors: (
    // //...
    // dark:       #222
    // );
    // // .back-button-icon-md {
    // //     color:    #FFFAF0;
    // //   }

    //ตัวย้อนกลับ
    .back-button-md,
    .back-button-ios {
    color: #FFFAF0;
    }

    //ตัวหยังสือ title
    [text-color="my-custom-color"] {
        color: rgb(0, 0, 0);
    }

    .text-color{
        color: #FFFAF0;
    }

    //ขอบมน
    .ion-item-border {
        border-radius: 20px !important;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        }

    .font{
        color: #008000;
    }
    .sex{
        color: #A9A9A9  ;
    }
    .center{
        text-align:center;
        color: #008000;
   }

   ion-thumbnail,
   ion-thumbnail > img{
       // border-radius:100%;
       height:16rem;
       width:80%;
       // display: block;
       margin-left: auto;
       margin-right: auto;
       // height:100px;
       // width:50%;
   }

   .full-image{
    //    border-radius:100%;
     height: 200px;
     width: 100%;
    margin-left: auto;
    margin-right: auto;
   }

   .full-image_2{
    //    border-radius:100%;
     height: 200px;
     width: 100%;
    margin-left: auto;
    margin-right: auto;
   }
}
