<!--
  Generated template for the TemperaturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>อุณหภูมิ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">


  <ion-item style="background: rgb(253, 255, 135)">
    <ion-label style="color:rgb(51, 51, 51)"  >อุณหภูมิ : </ion-label>
    <!-- <ion-input type="text" #username_sell></ion-input> -->
    <ion-input [(ngModel)]="username"  type="number" maxlength="13" ></ion-input>
  </ion-item>




</ion-content>
