<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon style="color:rgb(88, 88, 88)" name="menu"></ion-icon>
    </button>
    <ion-title>ประวัติการใช้งาน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">
  <ion-item style="border-radius: 20px !important;" >
    <ion-label style="color:#494aff" stacked>วันเวลาที่ต้องการสิ้นสุดการใช้</ion-label>
  
    <ion-datetime (ionChange)="get_time_using_end($event)" min="2562" max="2565-12-31"  displayFormat="MMM  YYYY" [(ngModel)]="myDate_end" placeholder="เวลาสิ้นสุด" pickerFormat="MMM - YYYY" monthShortNames="มกราคม, กุมภาพันธ์, มีนาคม, เมษายน, พฤษภาคม, มิถุนายน, กรกฏาคม, สิงหาคม, กันยายน, ตุลาคม, พฤศจิกายน, ธันวาคม" montNames="มกราคม,กุมภาพันธ์, มีนาคม, เมษายน, พฤษภาคม, มิถุนายน, กรกฏาคม, สิงหาคม, กันยายน, ตุลาคม, พฤศจิกายน, ธันวาคม" doneText="ยืนยัน" cancelText="ยกเลิก"></ion-datetime>
   
  </ion-item>
</ion-content>
