<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="color:#a75555"  >
        
            <ion-icon item-left [name]="p.icon" ></ion-icon > 
            {{p.title}}
 

        </button>
    </ion-list>
    <button menuClose ion-item  (click)="logout()" style="color:#a75555" >
            
      <ion-icon name="power"  item-left  ios="ios-power" md="md-power"></ion-icon>
      ออกจากระบบ


      </button>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>