<!--
  Generated template for the OpenequipPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon style="color:rgb(88, 88, 88)" name="menu"></ion-icon>
    </button>
    <ion-title >พลังงานไฟฟ้า</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">



  <ion-item style="background: rgb(253, 255, 135)">
    <ion-label style="color:rgb(51, 51, 51)"  >อุปกรณ์  :&nbsp;&nbsp;&nbsp;&nbsp;  </ion-label>
    <!-- <ion-input type="text" #username_sell></ion-input> -->
    <ion-input [(ngModel)]="username"  type="name" maxlength="13" placeholder="  "></ion-input>
  </ion-item>
  <br>
<button ion-button (click)="GoTo()">เปิด</button>



</ion-content>
